.container {
  /* background-size: cover;
  background-position: center;
  height: 100%;
  width: 100vw;
  background-repeat:no-repeat; */
}

.left-avatar {
  position: absolute;
  left: 15%;
  top: 10%;
}